<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="useInfluxdb" value="false" />
    <add key="influxdbuser" value="admin" />
    <add key="influxdbpass" value="password" />
    <add key="influxdburl" value="http://yourinfluxdbapi:8086" />
    <add key="influxdbdb" value="your_db_name" />
  </appSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>