<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGTAService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61973/GTAService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGTAService" contract="GTAService.IGTAService"
                name="BasicHttpBinding_IGTAService" />
        </client>
    </system.serviceModel>
</configuration>